<div class="container">
  <app-panel title="Minha Conta">
    <div class="row">
      <div class="col-sm-12">

        <app-conta-info [conta]="conta"></app-conta-info>

        <button class="btn btn-outline-primary btn-lg">Fazer upgrade!</button>

        <hr>

        <h4>Usuários com permissão de acesso</h4>

        <br>
        <a class="btn btn-primary m-b-sm" routerLink="../usuarios/novo">
          <span class="fa fa-plus"></span> Adicionar Usuário
        </a>

        <app-usuarios-lista [usuarios]="conta.usuarios" (excluir)="excluir($event)" (editar)="editarUsuario($event)"></app-usuarios-lista>

        <hr>

        <h4>Etapas Padrões do Cronograma</h4>

        <p>Adicione, exclua ou edite as etapas padrões do cronograma, utilizadas no momento de criação de cada eleição.</p>

        <div class="row m-b-sm">
          <div class="col-md-12">
            <app-cronograma-padrao [etapas]="cronograma" [conta]="conta" (recarregaCronograma)="recarregaCronograma()"></app-cronograma-padrao>
          </div>
        </div>

      </div>
    </div>
  </app-panel>
</div>
