<div class="ibox" title="">
  <div class="ibox-title" [hidden]="!title">
    <h5>{{ title }}</h5>
    <div class="ibox-tools">
      <span class="label m-r-sm" [ngClass]="labelClass" *ngIf="labelText">{{ labelText }}</span>
      <a *ngFor="let opt of options" (click)="onOptionClick(opt)" class="m-r-xs">
        <i class="fa" [ngClass]="opt.icon"></i>
      </a>
      <a class="collapse-link" [hidden]="!collapsible" (click)="collapse($event)">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content" ng-content>
    <ng-content></ng-content>
  </div>
</div>
