<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Cidade</th>
          <th>Endereço</th>
          <th>Grupo</th>
          <th>Informações Gerais</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estabelecimento of estabelecimentos">
          <td>{{ estabelecimento.empresa.razaoSocial }}</td>
          <td>{{ estabelecimento.cidade }}</td>
          <td>{{ estabelecimento.endereco }}</td>
          <td>{{ estabelecimento.grupo }}</td>
          <td>{{ estabelecimento.descricao }}</td>
          <td class="text-right">
            <div>
              <a class="btn btn-xs btn-outline btn-success m-r-xs" [routerLink]="['/estabelecimentos', estabelecimento.id]"><i
                  class="fa fa-pencil"></i></a>
              <button class="btn btn-xs btn-outline btn-danger" (click)="exclui(estabelecimento)"><i
                  class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
