<ng-template #modalConfiguracao>
  <h5>Habilitar envio automático de e-mails para:</h5>
  <input type="checkbox" [(ngModel)]="eleicao.configuracao.envioEditalConvocao"> Edital de Convocação<br>
  <input type="checkbox" [(ngModel)]="eleicao.configuracao.envioConviteInscricao"> Convite para Inscrições<br>
  <input type="checkbox" [(ngModel)]="eleicao.configuracao.envioConviteVotacao"> Convite para Votação<br>

  <button class="mt-3 btn btn-primary" (click)="salvarConfiguracoes()"><span class="fa fa-floppy-o"></span> Salvar Configurações</button>
</ng-template>
