<div class="middle-box text-center animated fadeInDown">
  <h1>403</h1>
  <h3 class="font-bold">Sem Pemissão</h3>

  <div class="error-desc">
      Oopss, seu usuário não possui permissão para acessar esse recurso ou executar essa ação. Por favor, entre em contato com o suporte.
      <br>
      <a routerLink="/eleicoes" class="btn btn-primary m-t-md">Página Inicial <i class="fa fa-home"></i></a>
      <!-- <form class="form-inline m-t" role="form">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for page">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
      </form> -->
  </div>
</div>
