<div class="row border-bottom" [class.white-bg]="!showLeftNav">
  <nav class="navbar navbar-static-top navbar-expand-lg" role="navigation" [class.left-nav-hidden]="!showLeftNav">

    <a routerLink="/eleicoes" class="navbar-brand" *ngIf="!showLeftNav">CIPA Online</a>
    <button class="navbar-toggler" type="button" aria-expanded="false" (click)="topCollapsed = !topCollapsed"
      aria-label="Toggle navigation" *ngIf="!showLeftNav">
      <em class="fa fa-reorder"></em>
    </button>

    <div class="navbar-header"  *ngIf="showLeftNav">
      <button class="minimalize-styl-2 btn btn-primary" *ngIf="showLeftNav" aria-label="Toggle navigation"
        (click)="toggleNavigation()">
        <em class="fa fa-bars"></em>
      </button>


    </div>

    <!-- <div class="navbar-collapse collapse" id="navbar" [class.show]="!topCollapsed"> -->
    <div id="navbar" [class.show]="!topCollapsed" [ngClass]="!showLeftNav ? 'navbar-collapse collapse' : ''">
      <ul class="nav navbar-nav mr-auto" *ngIf="!showLeftNav">
        <li routerLinkActive="active" *ngFor="let rota of navigationService.topnavRotas">
          <a aria-expanded="false" role="button" [routerLink]="rota.link" (click)="menuClick(rota)">{{ rota.label }}</a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right" [ngClass]="!showLeftNav ? 'toplinks' : ''">
        <li>
          <a class="right-sidebar-toggle" (click)="downloadNR5()">
            NR-5
          </a>
        </li>
        <li>
          <a class="right-sidebar-toggle" (click)="navigationService.navigateToHome()">
            <em class="fa fa-home"></em>
          </a>
        </li>
        <li>
          <a class="right-sidebar-toggle" (click)="navigationService.navigateToConta()">
            <em class="fa fa-user"></em>
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <em class="fa fa-sign-out"></em> Log out
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<app-breadcrumb></app-breadcrumb>
