<div class="row">
  <div class="col-sm-12">
    <app-pagination [paginationInfo]="votos" (alteraPagina)="alteraPagina($event)"
      (alteraTamanhoPagina)="alteraTamanhoPagina($event)"></app-pagination>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Horário</th>
        <th>IP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voto of votos.result">
        <td>{{ voto.eleitorNome }}</td>
        <td>{{ voto.eleitorEmail }}</td>
        <td>{{ voto.horario | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ voto.ip }}</td>
      </tr>
    </tbody>
  </table>
</div>
