<ng-template #modalInfoCronograma>
  <app-info-cronograma></app-info-cronograma>
</ng-template>

<div *ngIf="!processoIniciado">
  <p>
    Antes de iniciar o processo eleitoral, faça a cadastro de todos os funcionários da empresa.<br>
    É importante que o cadastro seja feito agora para que todos os funcionários recebam todos os comunicados via e-mail,
    ainda que seja possível cadastrar funcionários até a etapa de votação.
  </p>

  <div class="row m-b-lg">
    <div class="col-sm-12">
      <a class="btn btn-success m-r-sm" [routerLink]="['/eleicoes', eleicao.id ,'eleitores']">Cadastrar Funcionários <em
          class="fa fa-users"></em></a>
      <button class="btn btn-primary" (click)="iniciarProcesso()">{{ iniciarProcessoText }} <em
          class="fa fa-clock-o"></em></button>
    </div>
  </div>
</div>

<div class="row m-b-md">
  <div class="col-md-12">
    <a (click)="showModalInfoCronograma()" style="text-decoration: underline">Clique aqui</a> para saber mais sobre a
    atualização automática do cronograma.
  </div>
</div>

<div id="vertical-timeline" class="vertical-container light-timeline no-margins">
  <div etapa-cronograma class="vertical-timeline-block" [class.inactive]="etapa.posicaoEtapa === PosicaoEtapa.Futura"
    *ngFor="let etapa of eleicao.cronograma" [etapa]="etapa" [codigoGrupo]="eleicao.grupo" (proximaEtapa)="proximaEtapa($event)"
    (atualizarEtapa)="atualizarEtapa($event)" (exibirTemplates)="exibirTemplates($event)"
    [carregandoProximaEtapa]="carregandoProximaEtapa" [dimensionamento]="eleicao.dimensionamento"
    (edicaoCancelada)="recarregaCronograma()" (atualizarDimensionamento)="atualizarDimensionamento()"></div>
</div>

<ng-template #modalTemplates>
  <app-templates [templates]="templates"></app-templates>
</ng-template>
