<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Horário</th>
        <th>Aprovador</th>
        <th>E-mail do Aprovador</th>
        <th>Motivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reprovacao of reprovacoes">
        <td>{{ reprovacao.horario | date:'dd/MMM HH:mm' }}</td>
        <td>{{ reprovacao.nomeAprovador }}</td>
        <td>{{ reprovacao.emailAprovador }}</td>
        <td>{{ reprovacao.motivoReprovacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
