<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">Página não encontrada</h3>

  <div class="error-desc">
      Oopss, a página que você está tentando acessar não existe. Por favor, verifique se a URL está correta. Qualquer dificuldade, entre em contato com o suporte.
      <br>
      <a routerLink="/eleicoes" class="btn btn-primary m-t-md">Página Inicial <i class="fa fa-home"></i></a>
      <!-- <form class="form-inline m-t" role="form">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for page">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
      </form> -->
  </div>
</div>
