
.wizard .content {
    background: #eee;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 10px;
}

.wizard ul.steps {
    padding: 0;
    list-style: none !important;
} 

.wizard .step {
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    background: #eee;
    color: #aaa;
    margin-top: 5px;
}

.wizard .step.current {
    background: #1AB394;
    color: white;
}

.wizard .step.done {
    background: #6fd1bd;
    color: white;
}

.wizard .actions button {
    float: right;
    margin-left: 10px;
}