<app-panel title="Inconsistências encontradas" [collapsible]="false"
    [labelText]="inconsistencias.length + ' inconsistencias'">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Linha</th>
                    <th>Coluna</th>
                    <th>Erro</th>
            </thead>
            <tbody>
                <tr *ngFor="let inconsistencia of inconsistencias">
                    <td>{{ inconsistencia.linha ? inconsistencia.linha : 'N/D' }}</td>
                    <td>{{ inconsistencia.coluna ? inconsistencia.coluna : 'N/D' }}</td>
                    <td>{{ inconsistencia.mensagem }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</app-panel>
