<p>
  As etapas do cronograma são atualizadas automaticamente, ou seja, o próprio sistema inicia a etapa na data prevista.
  Apesar disso, é possível antecipar uma etapa apenas clicando no botão "Próxima Etapa".<br>
  Caso ocorra algum problema ao tentar mudar de etapa (ex.: votação não atingui o quorum
  mínimo), o cronograma permanecerá inalterado, porém a etapa será sinalizada, conforme o exemplo abaixo:
</p>
<p class="text-center">
  <img src='assets/img/erro-cronograma.jpg' alt="Erro ao fazer mudança de etapa.">
</p>
