<form #form="ngForm" (submit)="submit()" (reset)="reset()" id="eleitores-form">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6">
            <app-custom-input [(ngModel)]="eleitor.id" #id="ngModel" [control]="id" id="id" label="Código" name="id"
                readOnly="true">
            </app-custom-input>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-custom-input [(ngModel)]="eleitor.nome" #nome="ngModel" [control]="nome" id="nome" label="Nome"
                name="nome" required maxlength="255">
            </app-custom-input>
        </div>

        <div class="col-md-6">
            <app-custom-input [(ngModel)]="eleitor.email" #email="ngModel" [control]="email" id="email" label="E-mail"
                name="email" required maxlength="100" email>
            </app-custom-input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <app-custom-input [(ngModel)]="eleitor.matricula" #matricula="ngModel" [control]="matricula" id="matricula"
                label="Matrícula" name="matricula" maxlength="50">
            </app-custom-input>
        </div>

        <div class="col-sm-4">
            <app-datepicker name="dataAdmissao" id="dataAdmissao" [(ngModel)]="eleitor.dataAdmissao"
            #dataAdmissao="ngModel" [control]="dataAdmissao" label="Data de Admissão" placeholder="Data de Admissão"></app-datepicker>
        </div>

        <div class="col-sm-4">
            <app-datepicker name="dataNascimento" id="dataNascimento" [(ngModel)]="eleitor.dataNascimento"
            #dataNascimento="ngModel" [control]="dataNascimento" label="Data de Nascimento" placeholder="Data de Nascimento"></app-datepicker>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-custom-input [(ngModel)]="eleitor.cargo" #cargo="ngModel" [control]="cargo" id="cargo" label="Cargo"
                name="cargo" maxlength="255">
            </app-custom-input>
        </div>
        <div class="col-md-6">
            <app-custom-input [(ngModel)]="eleitor.area" #area="ngModel" [control]="area" id="area" label="Área"
                name="area" maxlength="255">
            </app-custom-input>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <app-custom-input [(ngModel)]="eleitor.nomeGestor" #nomeGestor="ngModel" [control]="nomeGestor" id="nomeGestor" label="Nome do Gestor"
              name="nomeGestor" maxlength="255">
          </app-custom-input>
      </div>
      <div class="col-md-6">
          <app-custom-input [(ngModel)]="eleitor.emailGestor" email #emailGestor="ngModel" [control]="emailGestor" id="emailGestor" label="Email do Gestor"
              name="emailGestor" maxlength="100">
          </app-custom-input>
      </div>
  </div>

    <button type="submit" class="btn btn-primary m-r-sm" [disabled]="form.invalid"><i class="fa fa-save"></i>
        Salvar</button>
    <button type="reset" class="btn btn-default">Cancelar</button>

</form>
