<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Olá, bem-vindo ao sistema de Votação Online!</h1>
                <p>Realize todo o processo de eleição da CIPA através de nosso sistema!</p>
                <!-- <p><a href="" role="button" class="btn btn-primary btn-lg">Learn more</a> -->
                <a routerLink="/eleicoes/nova" class="btn btn-primary">Nova Eleição <i class="fa fa-plus"></i></a>
                <a routerLink="/eleicoes" class="btn btn-success m-l-sm">Minhas Eleições <i
                        class="fa fa-search"></i></a>
                <hr>
                <img src="/assets/img/cipa.png" alt="">

            </div>
        </div>
    </div>
</div>