<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.cargo }}</td>
        <td class="text-right">
          <div>
            <a class="btn btn-xs btn-outline btn-success m-r-xs" (click)="editarUsuario(usuario)"><i
                class="fa fa-pencil"></i></a>
            <button class="btn btn-xs btn-outline btn-danger" *ngIf="permitirExclusao" (click)="exclui(usuario)"><i
                class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
